:root {
    background-color: cadetblue;
    font-family: Arial, sans-serif;
}

h1 {
    background-color: aqua;
    text-align: center;
}

h2 {
    background-color: blue;
    color: lawngreen;
    font-size: 40px;
    outline: blue solid;
    border-radius: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: aqua;
}
.row > a, .row > h2 {
    display: block;
    height: auto;
    margin: 50px auto 0;
}

button {
    width: 300px;
    height: 100px;
    background-color: red;
    color: white;
    font-size: 50px;
    border-radius: 25px;
}